##################################################
# macOS
##################################################
.DS_Store

##################################################
# Xcode User Data (PERSONAL — NEVER COMMIT)
##################################################
xcuserdata/
*.xcuserdatad
*.xcuserstate
*.xcworkspace/xcuserdata/

##################################################
# User scheme settings
##################################################
*.xcschememanagement.plist

##################################################
# Debugger / Breakpoints
##################################################
*.xcbkptlist
xcdebugger/

##################################################
# Build folders
##################################################
DerivedData/
build/
*.build/

##################################################
# Swift Package Manager
##################################################
Packages/
.swiftpm/